<div class="well">
  <p>
    <b>{{name}}</b>
  </p>
  <hr/>
  <p>
    Description:
  </p>
  <p>
    {{description}}
  </p>

  <p>
    Requested: {{created_at}}
  </p>
  <p>
    Estimate: {{estimate}}
  </p>
  <p>
    Labels: {{labels}}
  </p>
</div>